* {
    color: rgb(245, 255, 168);
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    --AboutusBorder: dotted rgb(156, 41, 41) 5px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.684)), url(../Images/BackgroundImage1.png);
}

h1,
h2,
h3,
h4 {
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
}

h2 {
    font-size: 1.7em;
    color: rgb(182, 194, 89);
    border: var(--Border);
    border-radius: 35px;
    margin: auto;
    padding: 10px;
    display: inline-block;
}

p {
    font-size: large;
    line-height: 25pt;
    margin: auto;
    padding-inline-start: 150px;
    padding-inline-end: 150px;
}


header p {
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    text-indent: 25px;
}

.Links {
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif !important;
    color: rgb(230, 67, 67) !important;
    font-size: larger;
}

.div1 img {
    max-height: 17vh;
    min-height: 17vh;
    min-width: 12vh;
    max-width: 12vh;
    border: 1px solid black;
    margin-bottom: 100px;
    margin-top: 25px;
}

.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(43, 35, 35, 0.2);
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #1f0808;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    text-align: center;
}

.popup h2 {
    margin-top: 0;
    color: rgb(199, 158, 22);
    font-family: Tahoma, Arial, sans-serif;
    margin-bottom: 20px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #d80606;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup table {
    margin: 0 auto;
    border: solid 1px white;
}

.popup th,
.popup tr,
.popup td {
    border: solid 0.5px white;
    padding: 20px;
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
}

th {
    color: rgb(199, 158, 22);
    font-size: larger;
}

.popup td:nth-child(odd):is(:hover, :focus) {
    border-image: linear-gradient(45deg, #e0e0e0, #bff569);
    animation: glow 0.6s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(231, 229, 86, 0.7); 
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px 3px rgba(243, 211, 122, 0.7);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(230, 160, 10, 0.7);
    }
}

@media (max-width: 768px) {
    main {
        margin: auto;
        padding: 20px;
    }

    h4,
    h3 {
        margin-top: 50px;
    }

    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}