* {
    color: rgb(245, 255, 168);
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    --AboutusBorder: dotted rgb(156, 41, 41) 5px;
}

h1, h2, h3, h4 {
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
}

h2 {
    font-size: 1.7em;
    color: rgb(182, 194, 89);
    border: var(--AboutusBorder);
    border-radius: 35px;
    padding: 10px;
    margin: auto;
    display: inline-block;
}

p {
    font-size: large;
    line-height: 25pt;
    margin: auto;
    padding-inline-start: 150px;
    padding-inline-end: 150px;
}


header p {
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    text-indent: 25px;
}

.div1 img {
    max-height: 17vh;
    min-height: 17vh;
    min-width: 12vh;
    max-width: 12vh;
    border: 1px solid black;
    margin-bottom: 100px;
    margin-top: 25px;
}

@media (max-width: 768px) {
    main {
     margin: auto;
     padding: 20px;
    }
  }