
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.684)), url(../Images/HomeBackgroundImage.jpg) !important;
}
#logo {
    position: absolute;
    bottom: 50%;
    left: 40%;
}
header {
    position: relative;
    text-align: center;
    margin-top: 11%;
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
}

header h1, header h2 {
    text-align: left;
    padding-left: 40px;
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
    padding-bottom: 25px;
}

header h1 {
    text-indent: 25pt;
}

span {
    text-decoration: underline;
    text-decoration-color: rgb(156, 41, 41);
}

main p {
    line-height: 25pt;
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
}

.float {
    display: inline-block;
    overflow: hidden;
}

.float::after {
    content: "";
    display: table;
    clear: both;
}

.leftfloat {
    float: left;
    max-height: 8vh;
    min-height: 8vh;
    min-width: 8vh;
    max-width: 8vh;
}

.rightfloat {
    float: right;
    max-height: 8vh;
    min-height: 8vh;
    min-width: 8vh;
    max-width: 8vh;
}

.Review1 {
    text-align: right;
    padding-right: 80px;
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(156, 41, 41);
    border: dotted 5px rgb(156, 41, 41);
    border-radius: 35px;
    padding: 10px;
    display: inline-block;
}

@media (max-width: 768px) {
    * {
        margin: 0%;
    }

    h1 {
        font-size: 2em;
    }

    #logo {
        top: 300px;
        left: 18%;
        height: 225px;
        width: 350px;
    }

    footer,
    footer a {
        margin-top: 180px;
    }
}