* {
    color: rgb(245, 255, 168);
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    list-style-type: none;
}

h2 {
    font-size: 1.7em;
    color: rgb(182, 194, 89);
    border: var(--menuBorder);
    border-radius: 35px;
    padding: 10px;
    display: inline-block;
}

#menu {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: left;
}

.category {
    border: var(--itemsBorder);
    border-radius: 35px;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    overflow-x: auto; 
}

h3 {
    font-weight: bolder;
    text-align: center;
    color: rgb(182, 194, 89);
}

li {
    padding-top: 10px;
}

.item {
    color: rgb(245, 255, 168);
}

@media (max-width: 768px) {
    .category:nth-child(1) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(2) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(3) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(4) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(5) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(6) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    #menu {
        display: block;
    }
}