* {
    color: rgb(245, 255, 168);
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    list-style-type: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.684)), url(../Images/BackgroundImage1.png);
}

h2 {
    font-size: 1.7em;
    color: rgb(182, 194, 89);
    border: var(--Border);
    border-radius: 35px;
    padding: 10px;
    display: inline-block;
}

#menu {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: left;
}

.category {
    border: var(--itemsBorder);
    border-radius: 35px;
    padding: 10px;
    margin: 10px;
    max-width: 100%;
    overflow-x: auto; 
    background-color: rgb(20, 18, 18);
}

h3 {
    font-weight: bolder;
    text-align: center;
    color: rgb(182, 194, 89);
}

li {
    padding-top: 10px;
}

.item {
    color: rgb(245, 255, 168);
}

.category:is(:hover, :focus) {
    border-image: linear-gradient(45deg, #e0e0e0, #ff8570);
    animation: glow 0.6s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(255, 133, 112, 0.7); 
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px 3px rgba(53, 21, 16, 0.7);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(177, 30, 4, 0.7);
    }
}

@media (max-width: 768px) {
    .category:nth-child(1) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(2) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(3) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(4) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(5) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    .category:nth-child(6) {
        margin-inline-start: 7px;
        margin-inline-end: 7px;
    }

    #menu {
        display: block;
    }
}