body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.684)), url(../Images/HomeBackgroundImage.jpg);
}

p {
    padding-inline-start: 150px;
    padding-inline-end: 150px;
    line-height: 25pt;
}

.video, .form {
    border: var(--itemsBorder);
    padding: 50px;
    background:rgb(8, 8, 8);
}

.video {
    margin-left: 10px;
}

.form {
    margin-right: 10px;
}

label:not(fieldset > label)::after {
    content: ":";
}

input:not([type="checkbox"], [type="radio"]),
input {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.Rating fieldset,
.Service fieldset,
.features fieldset {
    text-align: center;
    margin-bottom: 10px;
}

.Rating fieldset label,
.Service fieldset label,
.features fieldset label {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-bottom: 5px;
}

.Rating fieldset input,
.Service fieldset input,
.features fieldset input {
    display: inline-block;
    vertical-align: top;
    margin-left: 45px; 
}

input[type=textarea],
input[type=submit],
input[type=reset] {
    border: 3px solid black;
    border-radius: 5px;
    margin: 5px;
    height: 120px;
}

fieldset {
    border: 3px solid black;
    border-radius: 5px;
    margin: 5px;
    margin-block-end: 0px;
}

textarea,
input,
button,
select{
    background: rgb(39, 38, 38);
    text-align: left;
    margin: auto;
    padding-inline-end: 10px;
}

option {
    background-color: rgb(48, 47, 47);
}

select {
    height: 170%;
    font-size: larger;
}

.Info {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
label{
    grid-column: 1/2;
    text-align: right;
}

input {
grid-column: 2/3;
justify-content: left;
margin-left: 10px;
padding-left: 10px;
margin-bottom: 20px;
}

.Reviews-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form:is(:hover, :focus), .video:is(:hover, :focus) {
    border-image: linear-gradient(45deg, #e0e0e0, #ff8570);
    animation: glow 1s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(255, 133, 112, 0.7); 
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px 3px rgba(255, 133, 112, 0.7);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(177, 30, 4, 0.7);
    }
}

@media (max-width: 768px) {

    header{
        margin-top: 5%;
    }

    h2 {
        margin-bottom: 20px;
    }
    form{
        display:inline-block;
        grid-row: 1/2;
        margin-right: 5%;
    }

    main {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 20px;
    }

    .video {
        border: none;
        background: none;
        grid-row: 2/3; 
        margin-left: 35px;
        padding: 0; 
    }

    .form {
        border: none;
        background: none;
        grid-row: 1/2; 
        margin-right: 0;
        margin-left: 35px;
    }

    p {
        font-size: 99%;
        margin-bottom: 10px;
    }

    footer {
        margin-top: 30px;
    }

}