@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=Gloria+Hallelujah&family=Oswald&family=Permanent+Marker&display=swap');

* {
    color: rgb(245, 255, 168);
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
}

:root {
    --Border: dotted rgb(156, 41, 41) 5px;
    --itemsBorder: solid rgb(156, 41, 41) 1px;
    --Color_Because_I_Need_my_Fourth_CSS_Custom_Properties: rgb(24, 180, 37);
    --Color_Because_I_Need_my_Fifth_CSS_Custom_Properties: rgb(209, 10, 10);
    --Color_So_It_Matches_My_Other_CSS_Custom_Properties1: rgb(223, 85, 6);
    --Color_So_It_Matches_My_Other_CSS_Custom_Properties2: rgb(69, 78, 204);
}

body {
    font-size: large;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(204, 104, 22);
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    min-height: 100vh;
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
    overflow-x: hidden;

}

h1, h2, h3, h4 {
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
}

main {
    min-height: 52vh;
    grid-row: 1;
}

nav a {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav li, footer li {
    display: inline-block;
    margin-right: 20px;
}

.navbar {
    margin: 0;
    display: inline-block;
    border-radius: 35px;
    padding: 5px;
}

.navbar li:hover {
    font-size: larger;
    font-weight: bolder;
}

.div1 a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(182, 194, 89);
    border: 5px rgb(156, 41, 41);
    border-radius: 35px;
    padding: 5px;
}

.div0 {
    border: solid rgb(37, 9, 9) 5px;
    border-radius: 35px;
    padding: 10px;
    width: 100%;
    max-width: 98.5%;
    overflow-x: hidden;
}

.emphasis {
    color: rgb(199, 158, 22) !important;
}

.link-emphasis {
    color: rgb(216, 100, 65) !important;
    font-weight: lighter;
}

span {
    text-decoration: underline;
    text-decoration-color: rgb(160, 43, 43);
}

footer, footer a, footer li {
    text-align: center;
    text-decoration: none;
    color: rgb(182, 194, 89);
    grid-row: 2;
    margin-bottom: 15px;
}

footer a {
    font-family: 'Permanent Marker', cursive, Calibri, sans-serif;
    font-weight: lighter;
}

footer li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.float {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.float::after {
    content: "";
    display: table;
    clear: both;
}

.leftfloat, .rightfloat {
    max-height: 8vh;
    min-height: 8vh;
    min-width: 8vh;
    max-width: 8vh;
}

.leftfloat {
    float: left;
}

.rightfloat {
    float: right;
}

.currentPage {
    border: 4px double rgb(156, 41, 41);
    border-radius: 35px;
    padding: 12px;
    text-decoration: none;
}

@media (max-width: 768px) {
    * {
        text-align: center;
        margin: auto;
    }

    body {
        background-image: none;
        font-size: 16px;
        background-color:rgba(0, 0, 0, 0.945) !important;
    }
    .navbar li:hover {
        font-size: 100%;
    }

      .div0 {
        max-width: 95.5%;
      }
}
