* {
    color: rgb(245, 255, 168);
    font-family: 'Arsenal', sans-serif;
    font-weight: bolder;
    --TakeOutBorder: solid rgb(156, 41, 41) 1px;
    --NeedMenuBorder: dotted rgb(156, 41, 41) 5px;
    list-style-type: none;
}

h1 {
    color: rgb(245, 255, 168);
}

h2 {
    font-size: 1.7em;
    color: rgb(182, 194, 89);
    border: var(--NeedMenuBorder);
    border-radius: 35px;
    padding: 10px;
    margin: auto;
    display: inline-block;
}

.takeoutgrid p,
.takeoutgrid a {
    font-family: 'Arsenal', sans-serif;
    font-size: 1.2em;
}

.takeoutgrid {
    display: grid;
    grid-template-columns: repeat(6, .5fr);
    grid-template-rows: repeat(2, .5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: var(--TakeOutBorder);
    border-radius: 35px;
    margin: 50px;
    padding: 20px;
}

.delivery {
    grid-area: 1 / 2 / 2 / 6;
    border: var(--TakeOutBorder);
    border-radius: 35px;
}

.delivery li {
    display: inline-block;
    margin: auto;
    margin-right: 70px;
    border: solid black 1px;
    border-radius: 35px;
    padding: 10px;
}

.delivery img {
    max-height: 12vh;
    min-height: 12vh;
    min-width: 14vh;
    max-width: 14vh;
}

.delivery li:nth-child(1) span {
    color: var(--Color_Because_I_Need_my_Fourth_CSS_Custom_Properties);
    text-decoration: none;
}

.delivery li:nth-child(2) span {
    color: var(--Color_Because_I_Need_my_Fifth_CSS_Custom_Properties);
    text-decoration: none;
}

.delivery li:nth-child(3) span {
    color: var(--Color_So_It_Matches_My_Other_CSS_Custom_Properties1);
    text-decoration: none;
}

.delivery li:nth-child(4) span {
    color: var(--Color_So_It_Matches_My_Other_CSS_Custom_Properties2);
    text-decoration: none;
}

.call {
    grid-area: 2 / 2 / 3 / 4;
    border: var(--TakeOutBorder);
    border-radius: 35px;
    margin-bottom: 0%;
}

.needmenu {
    grid-area: 1 / 1 / 2 / 2;
    border: var(--TakeOutBorder);
    border-radius: 35px;
    margin: auto;
    padding: 15px;
}

.address {
    grid-area: 2 / 4 / 3 / 6;
    border: var(--TakeOutBorder);
    border-radius: 35px;
    margin-bottom: 0%;
}

.availability {
    grid-area: 1 / 6 / 2 / 7;
    border: var(--TakeOutBorder);
    margin: auto;
    border-radius: 35px;
    padding: 15px;
}

th {
    font-size: larger;
}

td {
    line-height: 25pt;
}

header p {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.select {
    padding: 20px;
    display: inline-block;
    transition: box-shadow 0.2s ease-in-out;
}

p:not(:last-of-type) {
    margin-bottom: 20px;
}

.select:is(:hover, :focus):nth-child(1) {
    animation: glow1 1s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(5, 209, 5, 0.7); 
}

.select:is(:hover, :focus):nth-child(2) {
    animation: glow2 1s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(211, 9, 9, 0.7); 
}

.select:is(:hover, :focus):nth-child(3) {
    animation: glow3 1s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(221, 102, 5, 0.7); 
}

.select:is(:hover, :focus):nth-child(4) {
    animation: glow4 1s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(3, 25, 216, 0.7); 
}

@keyframes glow1 {
    0% {
        box-shadow: 0 0 5px 3px rgba(5, 209, 5, 0.7);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(5, 209, 5, 0.7);
    }
}

@keyframes glow2 {
    0% {
        box-shadow: 0 0 5px 3px rgba(211, 9, 9, 0.7);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(211, 9, 9, 0.7);
    }
}

@keyframes glow3 {
    0% {
        box-shadow: 0 0 5px 3px rgba(221, 102, 5, 0.7);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(221, 102, 5, 0.7);
    }
}

@keyframes glow4 {
    0% {
        box-shadow: 0 0 5px 3px rgba(3, 25, 216, 0.7);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(3, 25, 216, 0.7);
    }
}

@media (max-width: 768px) {
    .takeoutgrid {
        display: flex;
        flex-direction: column;
        border: var(--TakeOutBorder);
        border-radius: 35px;
    }

    .availability {
        padding-left: 40px;
        text-align: left;
    }

    .delivery {
        border: none;
        border-left: var(--TakeOutBorder);
        border-top: var(--TakeOutBorder);
        border-bottom: var(--TakeOutBorder);
    }

    .needmenu {
        order: 4; /* Place the "needmenu" div at the bottom */
      }

    .delivery li {
        font-size: 0.65em;
        line-height: 30pt;
    }

    .delivery img {
        max-height: 4vh;
        min-height: 4vh;
        min-width: 6vh;
        max-width: 6vh;

    }

}